/* Start Variables */

:root {
    --main-color: #00aeef;
    --trans-color: #5ab5dd;
    --pra-color: #000000;
    --trans-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */
/* End Component */

/* Start Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
}

header .logo img {
    width: 245px;
}

@media (max-width: 991px) {
    header .logo img {
        width: 185px;
    }
}

@media (max-width: 768px) {
    header .logo img {
        margin-bottom: 10px;
    }
}

header .cont {
    display: flex;
    align-items: center;
}

header .cont .images {
    display: none;
    align-items: center;
}

@media (min-width: 1199px) {
    header .cont .images {
        display: flex;
    }
}

header .cont .images .icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header .cont .images .icon img {
    margin-right: 10px;
}

header .cont .images img[alt="search"] {
    cursor: pointer;
}

header .cont .links {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .cont .links a {
    display: block;
    margin-right: 20px;
}

header .cont .links a:first-of-type {
    background-color: var(--pra-color, #000000);
    color: white;
    padding: 15px 35px;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

header .cont .links a:first-of-type:hover {
    background-color: var(--main-color, #00aeef);
}

header .cont .links a:last-of-type {
    color: var(--main-color, #00aeef);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/* End Header */

/* Start Landing */

.landing {
    background-image: url(../photos/landing.jpg);
    background-size: cover;
    background-position: center;
}

.landing .container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    .landing .container {
        height: 60vh;
        padding-left: 50px;
    }
}

.landing .container span {
    display: block;
    font-size: 100px;
    font-weight: 100;
}

@media (max-width: 768px) {
    .landing .container span {
        font-size: 64px;
    }
}

@media (max-width: 576px) {
    .landing .container span {
        font-size: 55px;
    }
}

.landing .container h1 {
    font-size: 73px;
    color: white;
    width: 50%;
    margin: 20px 0;
}

@media (max-width: 991px) {
    .landing .container h1 {
        font-size: 58px;
    }
}

@media (max-width: 768px) {
    .landing .container h1 {
        font-size: 50px;
    }
}

@media (max-width: 576px) {
    .landing .container h1 {
        font-size: 40px;
        width: 100%;
    }
}

.landing .container a {
    display: block;
    color: white;
    text-transform: capitalize;
    width: fit-content;
    padding: 20px 40px;
    border: 1px solid white;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

.landing .container a:hover {
    background-color: var(--main-color, #00aeef);
    color: var(--pra-color, #000000);
    border-color: var(--main-color, #00aeef);
}

/* End Landing */