/* Start Variables */

:root {
    --main-color: #00aeef;
    --trans-color: #5ab5dd;
    --pra-color: #000000;
    --trans-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */

a.button {
    text-transform: capitalize;
    width: fit-content;
    padding: 20px 40px;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.title {
    font-size: 45px;
    color: var(--pra-color, #000000);
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}

h2.title span {
    color: var(--main-color, #00aeef);
}

/* End Component */

/* Start Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
}

header .logo img {
    width: 245px;
}

@media (max-width: 991px) {
    header .logo img {
        width: 185px;
    }
}

@media (max-width: 768px) {
    header .logo img {
        margin-bottom: 10px;
    }
}

header .cont {
    display: flex;
    align-items: center;
}

header .cont .images {
    display: none;
    align-items: center;
}

@media (min-width: 1199px) {
    header .cont .images {
        display: flex;
    }
}

header .cont .images .icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header .cont .images .icon img {
    margin-right: 10px;
}

header .cont .images img[alt="search"] {
    cursor: pointer;
}

header .cont .links {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .cont .links a {
    display: block;
    margin-right: 20px;
}

header .cont .links a:first-of-type {
    background-color: var(--pra-color, #000000);
    color: white;
    padding: 15px 35px;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

header .cont .links a:first-of-type:hover {
    background-color: var(--main-color, #00aeef);
}

header .cont .links a:last-of-type {
    color: var(--main-color, #00aeef);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/* End Header */

/* Start Landing */

.landing {
    background-image: url(../photos/landing.jpg);
    background-size: cover;
    background-position: center;
}

.landing .container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    .landing .container {
        height: 60vh;
        padding-left: 50px;
    }
}

.landing .container span {
    display: block;
    font-size: 100px;
    font-weight: 100;
}

@media (max-width: 768px) {
    .landing .container span {
        font-size: 64px;
    }
}

@media (max-width: 576px) {
    .landing .container span {
        font-size: 55px;
    }
}

.landing .container h1 {
    font-size: 73px;
    color: white;
    width: 50%;
    margin: 20px 0;
}

@media (max-width: 991px) {
    .landing .container h1 {
        font-size: 58px;
    }
}

@media (max-width: 768px) {
    .landing .container h1 {
        font-size: 50px;
    }
}

@media (max-width: 576px) {
    .landing .container h1 {
        font-size: 40px;
        width: 100%;
    }
}

.landing .container a.button {
    color: white;
    border: 1px solid white;
}

.landing .container a.button:hover {
    background-color: var(--main-color, #00aeef);
    color: var(--pra-color, #000000);
    border-color: var(--main-color, #00aeef);
}

/* End Landing */

/* Start About Us */

.about {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../photos/background.jpg);
    background-size: cover;
    background-position: bottom;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .about .container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .about .container .text {
        margin-bottom: 20px;
        width: 80%;
    }
}

@media (max-width: 576px) {
    .about .container .text {
        width: 100%;
    }
}

.about .container .text>span {
    display: block;
    font-size: 17px;
    color: var(--main-color, #00aeef);
}

.about .container .text h2 {
    font-size: 50px;
    color: #111111;
    font-weight: 500;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .about .container .text h2 {
        font-size: 30px;
    }
}

.about .container .text h2 span {
    color: var(--main-color, #00aeef);
}

.about .container .text p {
    color: var(--pra-color, #000000);
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
}

.about .container .text a.button {
    color: var(--main-color, #00aeef);
    border: 1px solid var(--main-color, #00aeef);
    margin-top: 20px;
}

.about .container .text a.button:hover {
    background-color: var(--main-color, #00aeef);
    color: white;
}

.about .container .image img {
    width: 450px;
}

@media (max-width: 768px) {
    .about .container .image img {
        max-width: 100%;
    }
}

/* End About Us */

/* Start Services */

.services {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--trans-color, #5ab5dd);
}

.services .container .head {
    margin-bottom: 75px;
}

.services .container .head h2 {
    font-size: 45px;
    color: var(--pra-color, #000000);
    font-weight: 500;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .services .container .head h2 {
        font-size: 35px;
    }
}

.services .container .head h2 span {
    color: white;
}

.services .container .head p {
    font-size: 20px;
    color: var(--pra-color, #000000);
}

.services .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .services .container .content {
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .services .container .content {
        width: 100%;
    }
}

.services .container .content .service {
    flex-basis: calc((100% / 3) - 30px);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
}

@media (max-width: 768px) {
    .services .container .content .service {
        margin-bottom: 50px;
    }
}

@media (max-width: 576px) {
    .services .container .content .service {
        padding: 25px 5px;
    }
}

.services .container .content .service img {
    width: 240px;
    margin: -45px 0 25px;
}

@media (max-width: 991px) {
    .services .container .content .service img {
        width: 160px;
    }
}

@media (max-width: 768px) {
    .services .container .content .service img {
        width: 330px;
    }
}

.services .container .content .service h3 {
    font-size: 30px;
    color: var(--pra-color, #000000);
    font-weight: 500;
    margin-bottom: 10px;
}

.services .container .content .service p {
    color: var(--trans-color, #5ab5dd);
    line-height: 1.8;
    font-size: 15px;
}

.services .container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0;
}

.services .container nav div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: white;
    margin-right: 5px;
    cursor: pointer;
}

.services .container nav div.active {
    background: black;
}

/* End Services */

/* Start Pricing and times */

.pricing-times {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../photos/pricing_bg.jpg);
    background-size: cover;
}

.pricing-times .pricing .price-content {
    display: flex;
    justify-content: center;
}

@media (max-width: 991px) {
    .pricing-times .pricing .price-content {
        flex-direction: column;
        align-items: center;
    }
}

.pricing-times .pricing .price-content img {
    width: 530px;
}

@media (max-width: 991px) {
    .pricing-times .pricing .price-content img {
        width: 90%;
    }
}

.pricing-times .pricing .price-content .text {
    background-color: white;
    width: 50%;
    padding: 20px;
}

@media (max-width: 991px) {
    .pricing-times .pricing .price-content .text {
        width: 90%;
    }
}

.pricing-times .pricing .price-content .text .text-cont {
    border: 1px dotted var(--main-color, #00aeef);
    width: 100%;
    height: 100%;
    padding: 50px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .pricing-times .pricing .price-content .text .text-cont {
        padding: 100px 5px;
    }
}

@media (max-width: 576px) {
    .pricing-times .pricing .price-content .text .text-cont {
        padding: 50px 5px;
    }
}

.pricing-times .pricing .price-content .text .text-cont ul {
    flex-basis: calc((100% / 2) - 3px);
}

@media (max-width: 576px) {
    .pricing-times .pricing .price-content .text .text-cont ul {
        flex-basis: 100%;
    }
}

.pricing-times .pricing .price-content .text .text-cont ul li {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    border-bottom: 2px dotted var(--main-color, #00aeef);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing-times .pricing .price-content .text .text-cont ul li span {
    z-index: 1;
    background-color: white;
    padding: 10px 5px;
    margin-bottom: -19px;
}

.pricing-times .pricing .price-content .text .text-cont a {
    border: 1px solid var(--main-color, #00aeef);
    color: var(--main-color, #00aeef);
    padding: 5px 40px;
    margin: 0 10px 0 auto;
}

@media (max-width: 991px) {
    .pricing-times .pricing .price-content .text .text-cont a {
        margin: 0 20px 0 auto;
        padding: 20px 40px;
    }
}

.pricing-times .pricing .price-content .text .text-cont a:hover {
    background-color: var(--main-color, #00aeef);
    color: white;
}

.pricing-times .times {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pricing-times .times .times-content {
    background-color: var(--trans-color, #5ab5dd);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

@media (max-width: 991px) {
    .pricing-times .times .times-content {
        padding: 60px 15px;
    }
}

@media (max-width: 768px) {
    .pricing-times .times .times-content {
        flex-direction: column;
    }
}

.pricing-times .times .times-content ul {
    color: white;
    flex-basis: calc((100% / 2) - 30px);
}

.pricing-times .times .times-content ul li {
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.pricing-times .times .times-content ul li span {
    word-spacing: 10px;
    display: block;
}

/* End Pricing and times */